<div class="container-fluid">
    <div class="row">
        <div class="col columna">
            <div class="form-create-chat">
              <h1 id="h1-create-chat">CHAT</h1>
              <h2>{{party.nombre}}</h2>
                <div class="list-objects">
                  <ng-container *ngFor="let mensaje of mensajes">
                    <ul *ngIf="mensaje.party.id_party==party.id_party" class="object">
                      <li><img class="img_mensaje" src="{{mensaje.usuario.img_avatar}}" alt="Foto perfil"></li>
                      <li><strong> {{mensaje.usuario.apodo}}: </strong></li>
                      <li>{{mensaje.mensaje}}</li>
                      <li class="fecha"> {{mensaje.fecha}}</li>
                    </ul>
                  </ng-container>
                </div><br>
                <form (submit)="enviarMensaje()">
                  <input type="text" [(ngModel)]="texto_mensaje" name="mensaje"><br>
                </form>
                <button routerLink="/my-chats" class="btn-primary volver"><i class="bi bi-box-arrow-left"></i></button>
                <button class="btn-primary" type="submit" (click)="enviarMensaje()">Enviar</button>
            </div>
        </div>
    </div>
</div>
