<div class="container-fluid">
    <div class="row">
        <div class="col columna">
            <div class="form-create-chat">
                <h1 id="h1-create-chat"><button class="btn btn-danger btn-delete" (click)="borrarChat()"><i class="bi bi-trash-fill"></i></button>CHAT</h1>
                <div class="list-objects">

                </div>
                <button class="btn-primary" type="submit" onclick="entrarChat()">Enviar</button>
            </div>
        </div>
    </div>
</div>
