<div class="container-fluid">
    <div class="row">
        <div class="col columna">
            <form class="form-estructure">
                <h1>CREA TU PROPIO CHAT</h1>
                <div class="txt-subtitle">¿COMO SE LLAMARÁ EL CHAT?</div>
                    <input type="text" [(ngModel)]="nombre" name="nombre"><br>
                <div class="txt-subtitle">¿SOBRE QUE JUEGO SERÁ?</div>
                    <select class="selector-games" [(ngModel)]="id_videojuego" name="id_videojuego">
                        <option value = 0 disabled>Seleccionar...</option>
                        <option *ngFor="let videojuego of videojuegos" value="{{videojuego.id_videojuego}}">{{videojuego.titulo}}</option>
                    </select><br>
                <a href="/home-yeslog" class="btn-primary button_style">VOLVER</a>
                <button class="btn-primary" type="submit" (click)="guardarParty()">CREAR</button>
            </form>
        </div>
    </div>
</div>
