<div id="box_contenido">
    <div class="container-fluid">
        <div class="row">
            <div class="col columna">
                <form class="form-create-chat">
                    <h1 id="h1-create-chat">CREA TU PROPIO CHAT</h1>
                    <div class="txt-create-chat">¿COMO SE LLAMARÁ EL CHAT?</div>
                    <input type="text" value="" name="chat_name"><br>
                    <div class="txt-create-chat">¿SOBRE QUE JUEGO SERÁ?</div>
                    <select class="selector-games" name="list-games">
                        <option value="">Seleccionar...</option>
                        <option value="">Game1</option>
                        <option value="">Game2</option>
                    </select><br><br><br><br><br><br>
                    <input class="btn-create-chat" type="submit" value="CREAR">
                </form>
            </div>
        </div>
    </div>
</div>
