<div class="container-fluid">
    <div class="row">
        <div class="col columna">
            <form class="form-estructure">
                <h1>CREA TU PROPIO CHAT</h1>
                <div class="txt-subtitle">¿COMO SE LLAMARÁ EL CHAT?</div>
                    <input type="text" value="" name="chat_name"><br>
                <div class="txt-subtitle">¿SOBRE QUE JUEGO SERÁ?</div>
                    <select class="selector-games" name="list-games">
                        <option value="">Seleccionar...</option>
                        <option value="">Game1</option>
                        <option value="">Game2</option>
                    </select><br><br><br><br><br><br>
                <button class="btn-primary" type="submit" onclick="createChat()">CREAR</button>
            </form>
        </div>
    </div>
</div>
