<app-nav-sup-nologeado></app-nav-sup-nologeado>
<div class="container content">
    <div class="row">
        <div class="col">
            <form class="form-estructure">
                <h1>INICIAR SESIÓN</h1>
                <div class="txt-subtitle">Usuario:</div>
                <input type="text" value="" name="nickname">
                <div class="txt-subtitle">Contraseña:</div>
                <input type="password" value="" name="password"><br>
                <a href="/home-yeslog"><button class="btn-primary" type="button" (click)="logear()">INICIAR</button></a>
                <p class="tienes_cuenta"><a href="./register">¿No tienes cuenta? ¡Regístrate!</a></p>
            </form>
        </div>
    </div>
</div>
