.box-content{
    background-image: url(../assets/images/logo_fondo8.png);
    min-height: 100vh;
    background-repeat: repeat;
    background-position: center center;
    top: 0px;
    left: 0px;
}
