<div class="container-fluid">
    <div class="row">
        <div class="col columna">
            <form class="form-estructure">
                <h1>ÚNETE A UN CHAT</h1>
                <div class="txt-subtitle">BUSCA UN CHAT:</div>
                <input type="text" [(ngModel)]="nombre" name="nombre"><br>
                <button class="btn-primary" type="submit" (click)="buscar()">BUSCAR</button>
                <div class="txt-subtitle">RESULTADO DE LA BÚSQUEDA:</div>
                <div class="list-objects" *ngIf="chats.length>0">
                  <div class="object" *ngFor="let lists of chats">
                    <ol>
                        <li>{{lists.nombre}} || </li>
                        <li>{{lists.videojuego.titulo}} ||</li>
                        <li><button [routerLink]="['/into-chat',lists.id_party]" class="btn-primary-into" type="submit">ENTRAR</button></li>
                    </ol>
                  </div>
                </div>
                <div class="list-objects" *ngIf="chats.length<=0">
                    <li>No hay resultados</li>
                </div>
            </form>
        </div>
    </div>
</div>
