<div class="container-fluid">
    <div class="row">
        <div class="col columna">
            <form class="form-estructure">
                <h1>ÚNETE A UN CHAT</h1>
                <div class="txt-subtitle">BUSCA UN CHAT:</div>
                <input type="text" [(ngModel)]="nombre" name="nombre"><br>
                <button class="btn-primary" type="submit" (click)="buscar()">BUSCAR</button>
                <div class="txt-subtitle">RESULTADO DE LA BÚSQUEDA:</div>
                <div class="list-objects" *ngIf="chats.length>0">
                  <div class="object" *ngFor="let lists of chats">
                    <button [routerLink]="['/into-chat',lists.id_party]" class="btn-primary-into" type="submit"><i class="bi bi-box-arrow-in-right"></i></button>
                    <p>Nombre: <strong>{{lists.nombre}}</strong>&nbsp;|&nbsp;</p>
                    <p>Juego: <strong>{{lists.videojuego.titulo}}</strong></p>
                  </div>
                </div>
                <div class="list-objects" *ngIf="chats.length<=0">
                    <p>No hay resultados</p>
                </div>
            </form>
        </div>
    </div>
</div>
