<div class="container-fluid">
    <div class="row">
        <div class="col columna">
            <div class="form-create-chat">
                <h1 id="h1-create-chat">MI LISTA DE CHATS</h1>
                <div class="list-objects">
                    <div class="object" *ngFor="let lists of chats">
                        <p><button [routerLink]="['/into-chat',lists.id_party]" class="btn-primary" type="submit" (click)="joinChat()"><i class="bi bi-box-arrow-in-right"></i>
                        </button></p>
                        <p>Nombre: <strong>{{lists.nombre}}</strong>&nbsp; | &nbsp;</p>
                        <p>Juego: <strong>{{lists.videojuego.titulo}}</strong>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

