<div class="container-fluid">
    <div class="row">
        <div class="col columna">
            <div class="form-create-chat">
                <h1 id="h1-create-chat">MI LISTA DE CHATS</h1>
                <div class="list-objects">
                    <div class="object" *ngFor="let lists of chats">
                        <ol>
                            <li>{{lists.nombre}} </li>
                            <li>| {{lists.videojuego.titulo}} ||</li>
                            <li><button [routerLink]="['/into-chat',lists.id_party]" class="btn-primary" type="submit" (click)="joinChat()">ENTRAR</button></li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

