<div class="container content_perfil">
    <div class="row m-auto box_informacion_personal">
        <h1>INFORMACIÓN PERSONAL</h1>
        <form action="" enctype="multipart/form-data">
            <div class="col column_imagen_perfil">
                <img class="imagen_perfil" [src]="url"><br>

                <select #teams (change)="onSelected(teams.value)">
                    <option default>Escoge una foto de perfil!</option>
                    <option>Seta</option>
                    <option>Peter</option>
                    <option>Minecraft</option>
                    <option>Perro</option>
                    <option>Gato</option>
                  </select>


                <!--<input class="file-select " type="file" name="img_avatar" accept=".jpg,.png" (change)="onFileSelected($event)"/><br>-->
                <p>{{usuario.apodo}}</p><br><br>
                <div class="txt-subtitle">NOMBRE:</div>
                    <input class="box-write" type="text" [(ngModel)]="nombre" name="nombre" value="{{usuario.nombre}}"><br>
                <div class="txt-subtitle" >APELLIDOS:</div>
                    <input class="box-write" type="text" [(ngModel)]="apellidos" name="apellidos" value="{{usuario.apellidos}}"><br>
                <div class="txt-subtitle" >APODO: </div>
                    <input class="box-write" type="text" [(ngModel)]="apodo" name="apodo" value="{{usuario.apodo}}"><br>
                <div class="txt-subtitle">CORREO ELECTRÓNICO: </div>
                    <input class="box-write" type="email" [(ngModel)]="email" name="email" value="{{usuario.email}}"><br>
                <div class="txt-subtitle">CONTRASEÑA:</div>
                    <input class="box-write" type="password" [(ngModel)]="contrasenia" name="contrasenia" value="{{usuario.contrasenia}}"><br>
            </div>
        </form>
        <div>
            <a href="/home-yeslog"><button class="btn-primary">VOLVER</button></a>
            <button class="btn-primary" (click)="guardarInfo()">GUARDAR</button>
        </div>
    </div>
</div>

