<app-nav-sup-nologeado></app-nav-sup-nologeado>
<div class="container content">
    <div class="row">
        <div class="col">
            <form class="form-estructure">
                <h1 class="titulo_iniciar_registrar">REGISTRARSE</h1>
                <div class="txt-subtitle">Nombre:</div>
                    <input type="text" value="" name="name">
                <div class="txt-subtitle">Apellidos:</div>
                    <input type="text" value="" name="surnames">
                <div class="txt-subtitle">Apodo:</div>
                    <input type="text" value="" name="nickname">
                <div class="txt-subtitle">Correo electrónico:</div>
                    <input type="text" value="" name="email">
                <div class="txt-subtitle">Contraseña:</div>
                    <input type="password" value="" name="password">
                <div class="txt-subtitle">Confirmar contraseña:</div>
                    <input type="password" value="" name="confirm_password"><br>
                <a href="/home-yeslog"><button class="btn-primary" type="submit" onclick="register()">REGISTRAR</button></a>
                <p class="tienes_cuenta"><a href="./login">¿Ya tienes cuenta? ¡Inicia sesión!</a></p>
            </form>
        </div>
    </div>
