<app-nav-sup-nologeado></app-nav-sup-nologeado>
<div class="container content">
    <div class="row">
        <div class="col">
            <form action="./index.html" class="form-register">
                <h1 class="titulo_iniciar_registrar">REGISTRARSE</h1>
                <div class="titulos_login">Nombre:</div>
                <input class="input_login_register" type="text" value="" name="name">
                <div class="titulos_login">Apellidos:</div>
                <input class="input_login_register" type="text" value="" name="surnames">
                <div class="titulos_login">Apodo:</div>
                <input class="input_login_register" type="text" value="" name="nickname">
                <div class="titulos_login">Correo electrónico:</div>
                <input class="input_login_register" type="text" value="" name="email">
                <div class="titulos_login">Contraseña:</div>
                <input class="input_login_register" type="password" value="" name="password">
                <div class="titulos_login">Confirmar contraseña:</div>
                <input class="input_login_register" type="password" value="" name="confirm_password"><br>
                <input class="iniciar_button" type="submit" value="REGISTRAR">
                <p class="tienes_cuenta"><a href="./login">¿Ya tienes cuenta? ¡Inicia sesión!</a></p>
            </form>
        </div>
    </div>
