<div class="container-fluid">
  <div class="row">
      <div class="col columna">
          <form class="form-estructure">
              <h1>MODIFICA EL VIDEOJUEGO</h1>
              <div class="txt-subtitle">¿COMO SE LLAMARÁ EL VIDEOJUEGO?</div>
                  <input type="text" [(ngModel)]="videojuego.titulo" name="titulo"><br>
              <a href="/crud-admin" class="btn-primary button_style">VOLVER</a>
              <button class="btn-primary" type="submit" (click)="modificarVideojuego()">MODIFICAR</button>
          </form>
      </div>
  </div>
</div>
