
<div id="card1" class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/images/chat.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Chat</h5>
      <p class="card-text">Crea un chat de un videojuego especifico</p>
      <a href="/create-chat" class="btn btn-primary text-center" style="width:100%;">Crear un chat</a>
    </div>
  </div>

<div id="card1" class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/images/videojuegos.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Videojuegos</h5>
      <p class="card-text">Aqui podras disfrutar de una gran variedad de videojuegos, únete a uno!</p>
      <a href="/join-chat" class="btn btn-primary text-center" style="width:100%;">Unirse chat</a>
    </div>
  </div>

  <div id="card1" class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/images/mandos.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Amigos</h5>
      <p class="card-text">Podras disfrutar de un chat con mas de 15 personas a la vez, personaliza tu perfil!</p>
      <a href="/profile" class="btn btn-primary text-center" style="width:100%;">Personalizar perfil</a>
    </div>
  </div>

